<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Yo Surveys" class="img-responsive text-center" src="modules/core/img/brand/brand.png" style="align:center" />
			</div>
		</div>
		<br>
		<div class="row" style="backgroung:#00ff00">
			<p class="lead">
				Create Surveys, Get Answers
			</p>
		</div>
		<div class="row" ng-con>
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/surveys">View Surveys</a>
			</p>
		</div>
	</div>

	<p align="center"><b>&copy;&nbsp;<a href="http://divneetsethi.github.io">Divneet Sethi</a> 2015</b></p>
</section>
