<html>
<head></head>
<body>

<!-- Answers Section -->
<div data-ng-controller="AnswersController">
       <div class="col-md-12">
        <form class="form-horizontal" data-ng-init="findStats()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                       <table  width="100%">
                          <tr>
                              <td colspan="3" valign="top">
                                   <h3>Survey Statistics</h3>
                              </td>
                          </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

</body>
</html>
